@charset "utf-8";
/* CSS Document */
body
{
	font-family: "Microsoft Yahei",Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-image: linear-gradient(to top, rgba(255,255,255,0.5), rgba(255,255,255,0.7)),url("https://wx2.sinaimg.cn/large/66ba3881gy1fcq9ezsat7j21ek0zzgyl.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1
{
	text-align: center;
}
.howtouse li
{
	list-style: decimal;
}
.picker
{
	width:500px;
	/*height: 300px;*/
	padding: 10px;
	padding-top: 0;
	background-color: rgba(200,200,200,0.5);
	font-size: 0.9em;
	float:left;
}
.openbtn
{
	font-weight: bold;
	color: white;
	border: 1px solid rgb(9, 74, 178);
	height: 24px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 2px;
	text-align: center;
	cursor: pointer;
	background-color: rgb(9, 74, 178);
}
.mask-list
{
	width: 100%;
	height: 300px;
	margin-bottom: 5px;
	background-color: rgba(255,255,255,0.5);
}
.mask-content
{
	width: calc(100% - 125px - 60px);
	background-color: rgba(255,255,255,0.5);
}
.mask-name
{
	width: 100px;
	background-color: rgba(255,255,255,0.5);
}
.mask-add,.mask-remove
{
	width: 30px;
	margin: 0;
}
.tip
{
	font-style: italic;
	color: #666;
}
.output
{
	min-width: 500px;
	width: calc(100% - 550px);
	/*height: 300px;*/
	padding: 10px;
	padding-top: 0;
	background-color: rgba(253,224,180,0.5);
	float:left;
}
.outinfo
{
	height: 25px;
	line-height: 25px;
	background-color:lightblue;
	margin-bottom: 10px;
}
.outcontent
{
	max-width: calc(100% - 6px);
	min-width: calc(100% - 6px);
	/*max-height:190px;*/
	height: 380px;
	min-height:190px;
	background-color: rgba(255,255,255,0.5);
}
.copyright
{
	width: 100%;
	text-align: center;
}